<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Introducir datos vehiculo</ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <form [formGroup] = 'formularioCrearVehiculo'>
    <ion-input formControlName="modelo"  label="Ingrese modelo" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
    <br />

    <ion-input formControlName="patente" label="Ingrese patente" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <br />

    <ion-input formControlName="annio" label="Ingrese año del vehiculo" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>

    <ion-button (click)="grabarVehiculo()">GrabarVehiculo</ion-button>
    <ion-button (click)="volverlista()">Volver</ion-button>
  </form>
  
</ion-content>

</ion-header>
